{% extends "base.html" %}

{% block 'title' %}Login{% endblock 'title' %}

{% block 'content' %}
<div class="container">

    {% if status == '1' %}
    
        <div class="alert alert-danger" role="alert">
            Email ou senha inválidos
        </div>

    {% endif %}

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md">
            <h1>Login</h1>
            <hr>

            <form action="{% url 'validar_login' %}" method="POST">{% csrf_token %}

                <label for="">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email">
                <br> <!-- Corrigir posteriormente -->
                
                <label for="">Senha</label>
                <input type="password" class="form-control" placeholder="Senha" name="senha">
                <br> <!-- Corrigir posteriormente -->

                <input type="submit" class="btn btn-info btn-lg" value="Enviar">
                <a href="{% url 'cadastro' %}" class="btn btn-warning btn-lg">Cadastre-se</a>

            </form>

        </div>

        <div class="col-md-3"></div>

    </div>
</div>
{% endblock 'content' %}